In [4]:
#import essential libraries
import l2o as l2o
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xarray as xr

In [5]:
#show small data set input and output
# Paths to the CSV files relative to the notebook's location
input_csv_path = './small_dataset/small_dataset_input.csv'
output_csv_path = './small_dataset/small_dataset_output.csv'

# Reading the CSV files
input_df = pd.read_csv(input_csv_path)
output_df = pd.read_csv(output_csv_path)

In [6]:
input_df.head()

   func_id  budget  dimensionality function_name  noise    seed
0     2198    2000               2      Thevenot    0.1  100895
1     1478    2000               2       Quartic    0.1   91077
2      130    2000               2          Levy    0.0  554703
3     2951    2000             100       Shubert    0.0  152730
4     2547    2000               2  Schwefel2_20    0.1  204304

In [7]:
output_df.head()

   Unnamed: 0     path_raw     path_post
0        2198  raw/2198.nc  post/2198.nc
1        1478  raw/1478.nc  post/1478.nc
2         130   raw/130.nc   post/130.nc
3        2951  raw/2951.nc  post/2951.nc
4        2547  raw/2547.nc  post/2547.nc

In [8]:
#show input row func_id=691
input_df[input_df['func_id']==691]

    func_id  budget  dimensionality function_name  noise    seed
98      691    2000              10        Ackley    0.0  504520

nvestigate the optimization data
To get familiar with the dataset, try to replicate the following experiments:
1. We start off by opening one of the experiments raw data of the small dataset
1.1. Choose the experiment with index 691 from the dataset. Note down the characteristics (e.g. dimen- sionality, noise level, noticeable loss-landscape characteristics). Before looking at the results: which optimizers do you expect to solve the problem with ease?
1.2. Open the raw dataset in Python. You can use the open_one_dataset_raw() helper function.
1.3. Plot the objective values ’y’ found with the Adam optimizer for the first realization with respect to
the iteration number.
1.4. Repeat question 1.3 for the second realization. Is there a difference in the performance? If so, can you explain why?
1.5. In the figure you created in questions 1.3, overlay the objective values ’y’ found with the remaining optimizers for the first realization. Are they behaving differently?
1.6. We want to compare the best found solution at a given iteration in a so-called convergence plot. Take the cumulative minimum of the objective values with respect to the iteration number for each of the realizations. After that, take the median value over the realizations. Repeat this for every optimizer in the dataset9.
1.7. Plot the results you obtained in the previous exercise. Make sure your figure has a legend and you label each optimizer. Which optimizer is the ’winner’ and why?
1.8. Load up experiment 280 and repeat questions 1.6 and 1.7 for this dataset How do these results relate to the ’No Free Lunch’ theorem (4) ?